// ----------------------------------------------------------------------------
//
// Px to em convertion function:
// --------------------------------
//
// Returns de value in em's for the requested value in px.
// Args:
// $pixels: value in pixels (or without explicit px) to convert based on the context
// $context: indicates the em base to convert to. If not specified, it will use the 
// standard 16px = 1em. This can be also changed on a global variable $browser-context
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Same with REM
@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


// Returns vertical rhythm calculation based on param and body base-line
@function vertival-rhythm($multiple) {
  @return $base-line-height * $multiple * 1rem;
}