// ---- Stark Color palette definition (as per Alberto's designs) ----
$color-whitey-blue: #F6F7FB;
$color-pale-blue: #E8EBF3;
$color-cloudy-blue: #BCC4DD;
$color-light-blue: #909EC7;
$color-dusty-blue: #6377B0;
$color-dusky-blue: #4D63A5;
$color-denim-blue: #37509A;
$color-cobalt-blue: #213D8F;
$color-lime: #8EC03F;
$color-avocado: #72A422;
$color-topaz: #1DB9DE;
$color-tealish: #1E9EC6;
$color-golden-yellow: #FEC61F;
$color-greenish-teal: #35BA6D;
$color-tomato-red: #E6493A;
$color-grey: #4A4A4A;
$color-grey-lighter: #A4A4A4;

// -------- Other colors -------

$color-black: #000000;
$color-black-impure: #0F0F0F;
$color-white: #FFFFFF;
$color-greyish-blue: #3d4552;