// Layout
$container-width: 1200px; //1366px according to AceControl
$container-lateral-padding: 20px;

// Typography
$base-font-size: 16px;
$base-line-height: 1.4;
$browser-context: $base-font-size;

// Mediaquery breakpoints array
$breakpoints: ( 
  mobile: 580px, // mobile
  ipad-portrait: 768px, // iPad portrait
  ipad-landscape: 1024px, // iPad landscape
  laptop: 1280px // laptop
) !default;